# Archivos de base de datos
*.sql
*.dump
*.bak

# Media para las imagenes que se suben a la base de datos
media/

# Entornos
.env
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Docker
mysql_data/
docker-compose.yml

# Imagenes
assets/.vscode/
