.header {
    height: 60px;
    background: #020617;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #1e293b;
}

.logo {
    font-weight: bold;
    color: #00c853;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar a {
    color: #94a3b8;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #1e293b;
    color: white;
}